.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #3399FF;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 10;
}

.text-area {
    -fx-background-color: transparent;
    -fx-border-color: #3399FF;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 10;
}

