/*Main Color #3399FF*/

.full_white {
    -fx-background-color: #ffffff;
}

.black {
    /*-fx-background-color: #1C1C1C;*/
    -fx-background-color: #f7f7f7;
}

.top_bar_black {
    /*-fx-background-color: #292428;*/
    -fx-background-color: #ffff;

}

.blue_pane {
    -fx-background-color: #02BAFF;
}

.red_pane {
    -fx-background-color: #FF2E2E;
}

.blue_text {
    -fx-text-fill: #3399FF;
}

.side_manue_color {
    -fx-background-color: #65C7F7;
}

.manue_button {
    -fx-background-color: #65C7F7;

}

.manue_button:hover {
    -fx-background-color: #9de1f7;
}

.button {
    -fx-background-color: #3399FF;
    -fx-text-fill: #1C1C1C;
    /*-fx-font-weight: Regular;*/
    -fx-border-radius: 10;
    -fx-background-radius: 10;

}

.button:hover {
    -fx-background-color: #3399FF;
    -fx-text-fill: #ffffff;
    -fx-border-color: #3399FF;
    -fx-font-weight: bold;
}

.jfx-text-field {
    -fx-text-fill: #ffffff;

}

.jfx-text-field:hover {
    -fx-text-fill: #ffffff;
}

.jfx-text-field:focused {
    -fx-text-fill: #ffffff;
}

.roundCorner_10 {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.roundCorner {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.roundCorner-Top_Left-Botom_Left {
    -fx-border-radius: 20 0 0 20;
    -fx-background-radius: 20 0 0 20;
}

.roundCorner-Top_Left-Top_Right {
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
}

.roundCorner-Bottom_Left-Botom_Right {
    -fx-border-radius: 0 0 20 20;
    -fx-background-radius: 0 0 20 20;
}

.roundCorner-Botom_Left {
    -fx-border-radius: 0 0 0 20;
    -fx-background-radius: 0 0 0 20;
}

.roundCorner-Top {
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
}

.roundCorner-Top_Left {
    -fx-border-radius: 20 0 0 0;
    -fx-background-radius: 20 0 0 0;
}

.roundCorner-Top_Right {
    -fx-border-radius: 0 20 0 0;
    -fx-background-radius: 0 20 0 0;
}

.roundCorner-Bottom_Right {
    -fx-border-radius: 0 0 20 0;
    -fx-background-radius: 0 0 20 0;
}

.roundCorner-Bottom_Left {
    -fx-border-radius: 0 0 0 20;
    -fx-background-radius: 0 0 0 20;
}

.imghover {

}

.imghover:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(244, 249, 255, 0.25), 5, .3, 0, 1);

}

.module_header {
    -fx-background-color: #3399FF;
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;

}

.border_color {
    -fx-border-color: #deecf0;
}

.blue_border_color {
    -fx-border-color: #3399FF;
}

.off_white{
    -fx-background-color: #ced2db;
}
.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: TRANSPARENT;
}

.worker_list_cell{
    -fx-background-color: #E6F7FF;
}